@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500;600;700&family=Nunito:wght@400;500;600;700&display=swap');

body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  background-color: #FBFAFF;
  color: #2A2140;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Fredoka', sans-serif;
}

.font-fredoka {
  font-family: 'Fredoka', sans-serif;
}

.font-nunito {
  font-family: 'Nunito', sans-serif;
}
